.text-constrain {
  max-width: 800px;
}

.text-constrain-small {
  max-width: 400px;
}

.wcon-70-400 {
  max-width: 400px;
  width: 70%;
}

.wcon-40-400 {
  max-width: 400px;
  width: 40%;
}

.wcon-90 {
  max-width: 90%;
}